In [1]:
import pandas as pd

## Читає файл та змінює назви стовпців

In [2]:
df = pd.read_html('data/data.html')[0]
df.columns = ['Temp', 'L_value', 'R_value', 'A_M_value', 'Color_value', 'Spectral_Class_value', 'Type_value']

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Temp                  261 non-null    int64
 1   L_value               259 non-null    float64
 2   R_value               258 non-null    float64
 3   A_M_value             258 non-null    float64
 4   Color_value           260 non-null    object
 5   Spectral_Class_value  259 non-null    object
 6   Type_value            258 non-null    float64
dtypes: float64(4), int64(1), object(2)
memory usage: 14.4+ KB

df.describe()

## Перевірка на наявність пропущених значень

In [4]:
print(df.isnull().sum())

Temp                    0
L_value                 2
R_value                 3
A_M_value               3
Color_value             1
Spectral_Class_value    2
Type_value              3
dtype: int64

## Заповнення пропущених значень

In [5]:
# Заповнення пропущених значень в числових стовпцях середнім значенням цих стовпців
for col in df.select_dtypes(include=['float64', 'int64']).columns:
    df[col].fillna(df[col].mean(), inplace=True)

# Заповнення пропущених значень в нечислових стовпцях модою (найчастіше зустрічається значення) цих стовпців
for col in df.select_dtypes(include=['object']).columns:
    df[col].fillna(df[col].mode()[0], inplace=True)

## Перевірка аномальних значень

In [6]:
df_original = df.copy()
numeric_cols = df.select_dtypes(include=['float64', 'int64'])

for col in numeric_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1

    # Визначення меж викидів
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # Виявлення викидів
    outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)]
    print(f"BEFORE: Outliers in {col}: {len(outliers)}")

    # Заміна значень викидів на медіану
    df.loc[df[col] < lower_bound, col] = df[col].median()
    df.loc[df[col] > upper_bound, col] = df[col].median()

    # Кількість викидів після заміни
    outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)]
    print(f"AFTER: Outliers in {col}: {len(outliers)}\n")

# До / після
diff = df_original.compare(df)
print(f'\n{diff}')

BEFORE: Outliers in Temp: 9
AFTER: Outliers in Temp: 0

BEFORE: Outliers in L_value: 13
AFTER: Outliers in L_value: 0

BEFORE: Outliers in R_value: 47
AFTER: Outliers in R_value: 0

BEFORE: Outliers in A_M_value: 0
AFTER: Outliers in A_M_value: 0

BEFORE: Outliers in Type_value: 0
AFTER: Outliers in Type_value: 0


        Temp           L_value             R_value
        self   other      self other          self other
30   39000.0  6850.0       NaN   NaN           NaN   NaN
50       NaN     NaN       NaN   NaN   1520.000000   1.8
51       NaN     NaN       NaN   NaN   1260.000000   1.8
52       NaN     NaN       NaN   NaN   1183.000000   1.8
53       NaN     NaN  550000.0  1.43   1648.000000   1.8
54       NaN     NaN       NaN   NaN   1324.000000   1.8
55       NaN     NaN       NaN   NaN   1349.000000   1.8
56       NaN     NaN       NaN   NaN   1673.000000   1.8
57       NaN     NaN       NaN   NaN   1284.000000   1.8
58       NaN     NaN       NaN   NaN    955.000000   1.8
59       NaN     NaN       NaN   NaN   1546.000000   1.8
60       NaN     NaN       NaN   NaN    441.395745   1.8
96   99999.0  6850.0       NaN   NaN  52222.000000   1.8
100  36108.0  6850.0       NaN   NaN           NaN   NaN
102  40000.0  6850.0  813000.0  1.43           NaN   NaN
111      NaN     NaN       NaN   NaN   1289.000000   1.8
112      NaN     NaN       NaN   NaN   1124.000000   1.8
113      NaN     NaN       NaN   NaN   1635.000000   1.8
114      NaN     NaN       NaN   NaN   1486.000000   1.8
115      NaN     NaN       NaN   NaN   1522.000000   1.8
116      NaN     NaN       NaN   NaN   1324.000000   1.8
117      NaN     NaN       NaN   NaN   1534.000000   1.8
118      NaN     NaN       NaN   NaN    876.000000   1.8
119      NaN     NaN       NaN   NaN   1467.000000   1.8
120      NaN     NaN       NaN   NaN   1324.000000   1.8
133      NaN     NaN       NaN   NaN    441.395745   1.8
160  37800.0  6850.0       NaN   NaN           NaN   NaN
171      NaN     NaN       NaN   NaN   1480.000000   1.8
172      NaN     NaN       NaN   NaN   1420.000000   1.8
173      NaN     NaN  630000.0  1.43   1315.000000   1.8
174      NaN     NaN       NaN   NaN   1679.000000   1.8
175      NaN     NaN       NaN   NaN   1190.000000   1.8
176      NaN     NaN       NaN   NaN   1553.000000   1.8
177      NaN     NaN       NaN   NaN   1045.000000   1.8
178      NaN     NaN       NaN   NaN   1779.000000   1.8
179      NaN     NaN       NaN   NaN    708.900000   1.8
180      NaN     NaN       NaN   NaN   1134.500000   1.8
226      NaN     NaN  537430.0  1.43           NaN   NaN
229      NaN     NaN  593900.0  1.43           NaN   NaN
230      NaN     NaN  783930.0  1.43           NaN   NaN
232      NaN     NaN  748890.0  1.43           NaN   NaN
233      NaN     NaN       NaN   NaN   1494.000000   1.8
234  38234.0  6850.0       NaN   NaN   1356.000000   1.8
235      NaN     NaN  648430.0  1.43   1948.500000   1.8
236      NaN     NaN  849420.0  1.43   1252.000000   1.8
237      NaN     NaN  748490.0  1.43   1130.000000   1.8
238  38940.0  6850.0       NaN   NaN   1356.000000   1.8
239      NaN     NaN  834042.0  1.43   1194.000000   1.8
240      NaN     NaN  537493.0  1.43   1423.000000   1.8
241      NaN     NaN       NaN   NaN    441.395745   1.8
242      NaN     NaN       NaN   NaN   1112.000000   1.8
243  37882.0  6850.0       NaN   NaN   1783.000000   1.8
247  37800.0  6850.0       NaN   NaN           NaN   NaN
258      NaN     NaN       NaN   NaN   1480.000000   1.8
259      NaN     NaN       NaN   NaN   1420.000000   1.8
260      NaN     NaN  630000.0  1.43   1315.000000   1.8

## Перевірка на наявність дублікатів та їх видалення

In [7]:
print(df.duplicated().sum())
df.drop_duplicates(inplace=True)

19